language: java
sudo: required
dist: trusty

env:
  global:
    - RELEASE_VERSION="1.0.0"
    - RELEASE_PLACEHOLDER="@release.number@"
    - BUILD_PLACEHOLDER="@build.number@"

before_install:
  - sudo apt-key adv --keyserver keys.gnupg.net --recv 6DA70622
  - sudo echo "deb http://downloads.ortussolutions.com/debs/noarch /" | sudo tee -a /etc/apt/sources.list.d/commandbox.list
  #Commandbox setup
  - box coldbox create app
  - box install testbox
  - cd modules/
  - sudo mkdir cfboom-adminApi
  - cd cfboom-adminApi/

install:
  - cd ..
  - cd ..
  - box server start port=45123 rewritesEnable=true openBrowser=false

before_script:
  - curl http://localhost:45123/

script: > 
    testResults="echo $(box testbox run runner=http://localhost:45123/modules/cfboom-adminApi/tests/runner.cfm)";
    echo "$testResults";
    if grep -i "\[Failures: [1-9][0-9]\?[0-9]\?\]\|\[Errors: [1-9][0-9]\?[0-9]\?\]\|<t[^>]*>\|<b[^>]*>" <<< $testResults;  then exit 1; fi

after_success:
  - sudo sed -i "s/$RELEASE_PLACEHOLDER/${RELEASE_VERSION}/g;" 'modules/cfboom-adminApi/box.json'
  - sleep 2
  - sudo sed -i "s/$BUILD_PLACEHOLDER/${TRAVIS_BUILD_NUMBER}/g" 'modules/cfboom-adminApi/box.json'
  - sleep 2
